{% extends 'base.html' %}

{% block title %}
    Todo Detail
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Todo Detail</h1>
        <p><strong>Title:</strong> {{ todo.title }}</p>
        <p><strong>Created by:</strong> {{ todo.user }}</p>
        <a href="{% url 'todo_update' todo.id %}" class="btn btn-primary mr-2">Update</a>
        <form action="{% url 'todo_delete' todo.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endblock %}
