{% extends 'base.html' %}

{% block title %}
    Todo List
{% endblock %}

{% block content %}
    <h1>Todo List</h1>
    <a href="{% url 'todo_create' %}" class="btn btn-success mt-3">Add Todo</a>
    <br /><br />
    <ul class="list-group">
        {% for todo in todos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'todo_detail' todo.id %}">{{ todo.title }}</a>
                <span>
                    <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="{% url 'todo_update' todo.id %}" class="btn btn-primary btn-sm">Update</a>
                </span>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'todo_create' %}" class="btn btn-success mt-3">Add Todo</a>
{% endblock %}
